body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Microsoft Yahei',"WenQuanYi Micro Hei",SimSun,Tahoma,Arial,Helvetica,STHeiti;
    font-size: 14px;
}
p{
    line-height: 1.8;
}

a{
    color: #338fd0;
    text-decoration: none;
}
a:hover{
    color: #1a0640;
    text-decoration: underline;
}
a:visited{
    color: #a699b3;
}


/*页脚通用设置*/
.footer{
    padding: 20px 0 30px 0;
    text-align: center;
    background-color: #f8f8f8;
}
.footer a:visited{
    color: #338fd0;
}